h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 1074px;}
#imCell_13 { display: block; position: relative; overflow: hidden; width: 342px; min-height: 296px; padding-top: 0px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_13 { position: relative; width: 332px; min-height: 286px; padding: 5px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; overflow: hidden; z-index: 2;}
#imCellStyleGraphics_13 { position: absolute; top: 0px; bottom: 5px; left: 0px; right: 0px; background-color: #404040; opacity: 0.5; filter: alpha(opacity = 50); border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
#imTextObject_13 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_13_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_13_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_13_tab0 ul ul ul { list-style: circle; }
#imTextObject_13_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_13_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_13_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_13_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_13_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_13_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_13_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_13_tab0 p { margin: 0; padding: 0; }
#imTextObject_13_tab0 .inline-block { display: inline-block; }
#imTextObject_13_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_13_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_13_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_13_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_13_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_13_tab0 img.fleft { margin-right: 15px; }
#imTextObject_13_tab0 img.fright { margin-left: 15px; }
#imTextObject_13_tab0 .imUl { text-decoration: underline; }
#imTextObject_13_tab0 .imVt { vertical-align: top; }
#imTextObject_13_tab0 .imVc { vertical-align: middle; }
#imTextObject_13_tab0 .imVb { vertical-align: bottom; }
#imTextObject_13_tab0 .fs26 { vertical-align: baseline; font-size: 26px; line-height: false; }
#imTextObject_13_tab0 .cf1 { color: rgb(255, 255, 255); }
#imTextObject_13_tab0 .fs13 { vertical-align: baseline; font-size: 13px; line-height: 20px; }
#imCell_15 { display: block; position: relative; overflow: hidden; width: 342px; min-height: 460px; padding-top: 0px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_15 { position: relative; width: 332px; min-height: 450px; padding: 5px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; overflow: hidden; z-index: 2;}
#imCellStyleGraphics_15 { position: absolute; top: 0px; bottom: 5px; left: 0px; right: 0px; background-color: #404040; opacity: 0.5; filter: alpha(opacity = 50); border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
#imTextObject_15 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_15_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_15_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_15_tab0 ul ul ul { list-style: circle; }
#imTextObject_15_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_15_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_15_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_15_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_15_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_15_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_15_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_15_tab0 p { margin: 0; padding: 0; }
#imTextObject_15_tab0 .inline-block { display: inline-block; }
#imTextObject_15_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_15_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_15_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_15_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_15_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_15_tab0 img.fleft { margin-right: 15px; }
#imTextObject_15_tab0 img.fright { margin-left: 15px; }
#imTextObject_15_tab0 .imUl { text-decoration: underline; }
#imTextObject_15_tab0 .imVt { vertical-align: top; }
#imTextObject_15_tab0 .imVc { vertical-align: middle; }
#imTextObject_15_tab0 .imVb { vertical-align: bottom; }
#imTextObject_15_tab0 .fs26 { vertical-align: baseline; font-size: 26px; line-height: false; }
#imTextObject_15_tab0 .cf1 { color: rgb(255, 255, 255); }
#imTextObject_15_tab0 .fs16 { vertical-align: baseline; font-size: 16px; line-height: false; }
#imTextObject_15_tab0 .fs13 { vertical-align: baseline; font-size: 13px; line-height: 19px; }
#imCell_16 { display: block; position: relative; overflow: hidden; width: 374px; min-height: 316px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_16 { position: relative; width: 374px; min-height: 282px; padding: 0px 0px 34px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_16 { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
#imObjectGallery_16 > div { margin: 0 auto; }
#imContent #imObjectGallery_16 a:link, #imContent #imObjectGallery_16 a:hover, #imContent #imObjectGallery_16 a:visited, #imContent #imObjectGallery_16 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_17 { display: block; position: relative; overflow: hidden; width: 372px; min-height: 316px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_17 { position: relative; width: 372px; min-height: 280px; padding: 0px 0px 36px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_17 { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
#imObjectGallery_17 > div { margin: 0 auto; }
#imContent #imObjectGallery_17 a:link, #imContent #imObjectGallery_17 a:hover, #imContent #imObjectGallery_17 a:visited, #imContent #imObjectGallery_17 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_18 { display: block; position: relative; overflow: hidden; width: 374px; min-height: 329px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_18 { position: relative; width: 374px; min-height: 281px; padding: 0px 0px 48px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_18 { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
#imObjectGallery_18 > div { margin: 0 auto; }
#imContent #imObjectGallery_18 a:link, #imContent #imObjectGallery_18 a:hover, #imContent #imObjectGallery_18 a:visited, #imContent #imObjectGallery_18 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_19 { display: block; position: relative; overflow: hidden; width: 372px; min-height: 329px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_19 { position: relative; width: 372px; min-height: 279px; padding: 0px 0px 50px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_19 { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
#imObjectGallery_19 > div { margin: 0 auto; }
#imContent #imObjectGallery_19 a:link, #imContent #imObjectGallery_19 a:hover, #imContent #imObjectGallery_19 a:visited, #imContent #imObjectGallery_19 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_20 { display: block; position: relative; overflow: hidden; width: 374px; min-height: 280px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_20 { position: relative; width: 374px; min-height: 280px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_20 { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
#imObjectGallery_20 > div { margin: 0 auto; }
#imContent #imObjectGallery_20 a:link, #imContent #imObjectGallery_20 a:hover, #imContent #imObjectGallery_20 a:visited, #imContent #imObjectGallery_20 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_21 { display: block; position: relative; overflow: hidden; width: 372px; min-height: 280px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_21 { position: relative; width: 372px; min-height: 280px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_21 { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: transparent; }
#imObjectGallery_21 > div { margin: 0 auto; }
#imContent #imObjectGallery_21 a:link, #imContent #imObjectGallery_21 a:hover, #imContent #imObjectGallery_21 a:visited, #imContent #imObjectGallery_21 a:active { border: none; background-color: transparent; text-decoration: none; }
#imCell_14 { display: block; position: relative; overflow: hidden; width: 342px; min-height: 324px; padding-top: 0px; padding-bottom: 5px; padding-left: 0px; padding-right: 0px;}
#imCellStyle_14 { position: relative; width: 332px; min-height: 314px; padding: 5px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; overflow: hidden; z-index: 2;}
#imCellStyleGraphics_14 { position: absolute; top: 0px; bottom: 5px; left: 0px; right: 0px; background-color: #404040; opacity: 0.5; filter: alpha(opacity = 50); border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
#imTextObject_14 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_14_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_14_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_14_tab0 ul ul ul { list-style: circle; }
#imTextObject_14_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_14_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_14_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_14_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_14_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_14_tab0 p { margin: 0; padding: 0; }
#imTextObject_14_tab0 .inline-block { display: inline-block; }
#imTextObject_14_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_14_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_14_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_14_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_14_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_14_tab0 img.fleft { margin-right: 15px; }
#imTextObject_14_tab0 img.fright { margin-left: 15px; }
#imTextObject_14_tab0 .imUl { text-decoration: underline; }
#imTextObject_14_tab0 .imVt { vertical-align: top; }
#imTextObject_14_tab0 .imVc { vertical-align: middle; }
#imTextObject_14_tab0 .imVb { vertical-align: bottom; }
#imTextObject_14_tab0 .fs26 { vertical-align: baseline; font-size: 26px; line-height: false; }
#imTextObject_14_tab0 .cf1 { color: rgb(255, 255, 255); }
#imTextObject_14_tab0 .fs16 { vertical-align: baseline; font-size: 16px; line-height: 23px; }
#imTextObject_14_tab0 .fs13 { vertical-align: baseline; font-size: 13px; line-height: 20px; }
#imCell_22 { display: block; position: relative; overflow: hidden; width: 366px; min-height: 164px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_22 { position: relative; width: 360px; min-height: 118px; padding: 23px 3px 23px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_22 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCellStyle_22 > a { display: block; }
#imCell_23 { display: block; position: relative; overflow: hidden; width: 1080px; min-height: 44px; padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px;}
#imCellStyle_23 { position: relative; width: 1080px; min-height: 44px; padding: 0px 0px 0px 0px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_23 { position: absolute; top: 4px; bottom: 4px; left: 4px; right: 4px; background-color: transparent; opacity: 0.3; filter: alpha(opacity = 30); }
#imTextObject_23 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_23_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_23_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_23_tab0 ul ul ul { list-style: circle; }
#imTextObject_23_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_23_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_23_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_23_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_23_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_23_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_23_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_23_tab0 p { margin: 0; padding: 0; }
#imTextObject_23_tab0 .inline-block { display: inline-block; }
#imTextObject_23_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_23_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_23_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_23_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_23_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_23_tab0 img.fleft { margin-right: 15px; }
#imTextObject_23_tab0 img.fright { margin-left: 15px; }
#imTextObject_23_tab0 .imUl { text-decoration: underline; }
#imTextObject_23_tab0 .imVt { vertical-align: top; }
#imTextObject_23_tab0 .imVc { vertical-align: middle; }
#imTextObject_23_tab0 .imVb { vertical-align: bottom; }
#imTextObject_23_tab0 .fs28 { vertical-align: baseline; font-size: 28pt; line-height: 44px; }
#imTextObject_23_tab0 .cf1 { color: rgb(211, 0, 0); }
#imTextObject_23_tab0 .ff1 { font-family: 'Trajan Pro'; }
